h3{
    font-size: 18px;
    font-weight: 700;
    color: white;
}
p{
    font-size: 32px;
    font-weight: 700;
    color: #b8ccca;
}

img{
    height: 100px;
}

@media (max-width:720px) {
    img{
        margin-top:15px;
    }
}